
html, body{
    height: 100%;

}

html{
    background-color: black;
}
body{
    background-color: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    height: 10%;
    background-color: black;
}
header a{
    color: white;
    text-decoration: none;
}
img{
    height: 75px;
    width: 75px;
}
.navegacionprincipal{
    background-color: rgb(255, 0, 0);
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    margin: 0;
    padding: 0;

}

.navegacionprincipal ul{
    flex-grow: 1;
    list-style: none;

   
}

.navegacionprincipal ul li{

    margin: 5%;
    display: inline;
    position: relative;
}
.navegacionprincipal ul li ul{
display: none;
position: absolute;
top: 100%;
left: 0%;
background-color: grey;
padding: 10px;
border: 1px solid #ccc;

}
.navegacionprincipal ul li ul li{
line-height: 2;

}

.navegacionprincipal ul li :hover ul{

    display: block;
}

.menuusuario{
    color: antiquewhite;
    min-width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    margin: 0;
    padding: 0;

}

.menuusuario ul{
    flex-grow: 1;
    list-style: none;

}

.menuusuario ul li{
    margin: 5%;
    display: inline;
}