$mapa-colores: (header: black, footer: black, main: gray, button: green, link: purple, div:blue);

$mapa-medidas-ancho:(header: '100%', footer: '100%', main: '100%', button: '100px', link: '100px', div: '100px');
$mapa-medidas-alto:(header: '100px', footer: '100px', main: '100px', button: '100px', link: '100px', div: '100px');

@each $elemento, $color in $mapa-colores{
    #{$elemento}{
        background-color: $color;
    }
}

@each $elemento, $color in $mapa-medidas-ancho{
    #{$elemento}{
        width: $color;
    }
}


// header{
//     background-color: map-get($mapa-colores,'header');
// }

// footer{

// }

// main{
    
// }

// Usamos cualquier estructura iterativa


//each con mapas
// Definición de un mapa
// $temas: (
//   primario: #3498db,
//   secundario: #e74c3c,
//   resaltado: #2ecc71
// );

// // Uso de @each para aplicar estilos a cada par clave-valor en el mapa
// @each $nombre, $color in $temas {
//   .#{$nombre}-tema {
//     background-color: $color;
//   }
// }