/* Establece el color de fondo de la página HTML en blanco */
html {
    background-color: white;
    /* Hace que la página ocupe toda la altura del viewport */
}

/* Establece los estilos del cuerpo de la página */
body {
    background-color: white;
    display: flex;
    /* Establece el fondo del cuerpo en blanco */
    margin: 0;
    /* Elimina el margen predeterminado del cuerpo */
    flex-direction: column;
    /* Apila elementos secundarios en una columna */
    font-family: 'Montserrat', sans-serif;
    /* Define la fuente utilizada en el cuerpo */
    min-height: 100vh;
    /*obliga a que la altura minima del cuerpo sea el 100 del view-port*/
}

/* Establece estilos para el encabezado de la página */
header {
    background: linear-gradient(to left, #000, #777);
    /* Crea un fondo degradado de izquierda a derecha */
    height: 12%;
    /* Define la altura del encabezado al 12% del viewport */
    display: flex;
    /* Activa el modelo de caja flexible para elementos secundarios */
    flex-direction: row;
    /* Establece la dirección de alineación en fila */
    border-bottom: 4px solid rgb(175, 21, 116);
    /* Agrega un borde inferior sólido de 4 píxeles */
}

/* Establece que los enlaces dentro del encabezado no tengan subrayado y sean de color blanco */
header a {
    text-decoration: none;
    /* Elimina el subrayado de los enlaces */
    color: white;
    /* Establece el color del texto en blanco */
    font-size: large;
    /* Define el tamaño de fuente grande para los enlaces */
}

/* Establece los estilos para las figuras dentro del encabezado */
header figure {
    display: flex;
    /* Activa el modelo de caja flexible para este contenedor */
    margin: 0;
    /* Elimina los márgenes predeterminados para este contenedor */
    padding: 5px;
    /* Agrega un relleno de 5 píxeles alrededor para este contenedor */
}

/* Establece los estilos para las imágenes dentro del encabezado */
header figure img {
    padding: 0;
    /* Elimina el relleno alrededor de las imágenes */
    width: 75px;
    /* Establece el ancho de las imágenes en 75 píxeles */
    height: 75px;
    /* Establece la altura de las imágenes en 75 píxeles */
}


/* Establece un título de tercer nivel (h3) dentro del encabezado */
header h3 {
    position: relative;
    /* Establece la posición relativa para el elemento */
    top: 35px;
    /* Desplaza el título 35 píxeles hacia abajo desde su posición normal */
    background: linear-gradient(to right, rgb(246, 80, 191), white);
    /* Crea un fondo con un degradado lineal */
    -webkit-background-clip: text;
    /* Define el clip de fondo para el texto como el degradado */
    color: transparent
}

/* Establece estilos para el elemento con la clase "menuPrincipal" */
.menuPrincipal {
    flex-grow: 1;
    /* Permite que el elemento crezca para ocupar el espacio disponible */
    display: flex;
    /* Activa el modelo de caja flexible para el elemento */
    align-items: flex-end;
    /* Alinea los elementos hijos en la parte inferior del contenedor */
    margin: 0;
    /* Elimina los márgenes predeterminados */
    padding: 0;
    /* Elimina el relleno predeterminado */
    text-align: center;
    /* Alinea el texto a la derecha dentro del contenedor */
}

/* Establece estilos para el elemento "nav" dentro de "menuPrincipal" */
.menuPrincipal {
    display: flex;
    /* Activa el modelo de caja flexible para el elemento "nav" */
}

/* Establece estilos para las listas no ordenadas (ul) dentro de "menuPrincipal" */
.menuPrincipal .lista {
    flex-grow: 1;
    /* Permite que la lista crezca para ocupar el espacio disponible */
    list-style: none;
    /* Elimina los marcadores de lista predeterminados */
}

/* Establece estilos para los elementos de lista (li) dentro de "menuPrincipal ul" */
.menuPrincipal .lista .opcPrincipal {
    display: inline;
    /* Muestra los elementos en línea */
    position: relative;
    /* hace que si hay sublistas, se muestren debajo de la opcion*/
}


.menuPrincipal .lista .opcPrincipal a {
    text-decoration: none;
    /* Elimina la decoración del enlace */
    font-size: 16px;
    /* Establece el tamaño de fuente a 16 píxeles */
    padding: 16px;
    /* Agrega un relleno de 16 píxeles para que la caja del menu tenga
    este ancho en el sombreado*/
    color: white;
    /* Establece el color del texto en blanco */
    transition: color 0.4s;
    /* Agrega una transición suave del color durante 0.4 segundos */
}

/* Establece estilos para la lista desplegable cuando se pasa el mouse sobre el elemento "menuPrincipal ul li" */
.menuPrincipal .lista .opcPrincipal:hover ul {
    display: block;
    /* Muestra la lista desplegable al pasar el mouse */
}

/* Establece estilos para los enlaces en los elementos "menuPrincipal ul li" cuando se les aplica el estado "hover" (se pasa el mouse sobre ellos) */
.menuPrincipal .lista .opcPrincipal a:hover {
    color: rgb(246, 80, 191);
    /* Cambia el color del texto al pasar el mouse por la sublista */
    background-color: rgb(255, 228, 249);
    /* Cambia el fondo al pasar el mouse */
}

/* Establece estilos para los iconos (elementos <i>) dentro de los enlaces en "menuPrincipal ul li" */
.menuPrincipal .lista .opcPrincipal a i {
    color: #e12cb9;
    /* Establece el color del icono */
    transition: color 0.4s;
    /* Agrega una transición suave del color durante 0.4 segundos */
}

/* Establece estilos para los iconos (elementos <i>) dentro de los enlaces en "menuPrincipal ul li" cuando se les aplica el estado "hover" */
.menuPrincipal .lista .opcPrincipal a:hover i {
    color: #af0089;
    /* Cambia el color del icono al pasar el mouse */
}

/* Establece estilos para los elementos de lista no ordenada (ul) dentro de "menuPrincipal ul li" */
.menuPrincipal .lista .opcPrincipal ul {
    display: none;
    /* Oculta la lista desplegable por defecto */
    position: absolute;
    /* Establece una posición absoluta para posicionarla con respecto al elemento padre */
    top: 100%;
    /* Coloca la lista desplegable debajo del elemento padre */
    left: 0;
    /* Coloca la lista desplegable en la parte izquierda del elemento padre */
    background-color: white;
    /* Establece el color de fondo en blanco */
    padding: 10px;
    /* Agrega un relleno de 10 píxeles */
    border: 1px solid #ccc;
    /* Agrega un borde sólido */
    align-items: flex-start;
    /* Alinea los elementos hijos en la parte superior */
    margin-top: 15px;
    /* Agrega un margen superior de 15 píxeles */
    -webkit-box-shadow: -6px 10px 5px 0px rgba(133, 64, 116, 1);
    /* Agrega una sombra en navegadores webkit */
    -moz-box-shadow: -6px 10px 5px 0px rgba(133, 64, 116, 1);
    /* Agrega una sombra en navegadores Mozilla */
    box-shadow: -6px 10px 5px 0px rgba(133, 64, 116, 1);
    /* Agrega una sombra */
    width: 100px;
    /* Establece el ancho de la lista desplegable en 120 píxeles */
}



/* Establece estilos para los elementos de lista (li) dentro de la lista desplegable */
.menuPrincipal .lista .opcPrincipal .sublista .subOpcion {
    display: block;
    /* Muestra los elementos de lista como bloques */
    margin-left: -25px;
    /*margen por la izquierda*/    
    line-height: 2;
    /* Establece la altura de línea en 2 (espaciado entre líneas) */
}

/* Establece estilos para los enlaces (a) dentro de los elementos de lista (li) en la lista desplegable */
.menuPrincipal .lista .opcPrincipal .sublista .subOpcion a {
    color: rgb(108, 29, 78);
    /* Establece el color del texto en un tono específico */
}

.menuPrincipal .lista .opcPrincipal .sublista .subOpcion a:hover {
    color: rgb(246, 80, 191);
    background-color: transparent;
    text-shadow: 0 2px 4px rgba(108, 29, 78, 0.4);
    /* Agrega una sombra debajo del texto */
    /* Cambia el color del texto al pasar el mouse */
}

/* Establece estilos para los elementos de la clase "menuUsuario" */
.menuUsuario {
    color: transparent;
    /* Establece el color del texto como transparente */
    display: flex;
    /* Activa el modelo de caja flexible para el elemento "menuUsuario" */
    align-items: flex-end;
    /* Alinea los elementos hijos en la parte inferior */
    justify-content: flex-end;
    /* Alinea el contenido hacia la derecha del contenedor */
    margin: 0;
    /* Elimina los márgenes predeterminados */
    padding: 0;
    /* Elimina el relleno predeterminado */
    margin-right: 15px;
    /* Agrega un margen derecho de 15 píxeles */
    min-width: 25%;
    /* Establece un ancho mínimo del 25% del contenedor */
}

/* Establece estilos para el elemento "nav" dentro de "menuUsuario" */
.menuUsuario nav {
    display: flex;
    /* Activa el modelo de caja flexible para el elemento "nav" */
}

/* Establece estilos para las listas no ordenadas (ul) dentro de "menuUsuario" */
.menuUsuario ul {
    list-style: none;
    /* Elimina los marcadores de lista predeterminados */
    margin-top: 40px;
    /* Agrega un margen superior de 40 píxeles */
}

/* Establece estilos para los elementos de lista (li) dentro de "menuUsuario ul" */
.menuUsuario ul li {
    margin-bottom: 0px;
    /* Elimina el margen inferior */
    display: inline;
    /* Muestra los elementos en línea */
    margin-right: 10px;
    /* Agrega un margen derecho de 10 píxeles */
    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
}


.menuUsuario ul li a {
    text-decoration: none;
    /* Elimina la decoración del enlace */
    font-size: 16px;
    /* Establece el tamaño de fuente a 16 píxeles */
    flex-grow: 1;
    /* Permite que los elementos crezcan para ocupar el espacio disponible */
    padding: 16px;
    /* Agrega un relleno de 16 píxeles */
    color: white;
    /* Establece el color del texto en blanco */
    transition: color 0.4s;
    /* Agrega una transición suave del color durante 0.4 segundos */
}

/* Establece estilos para los enlaces en los elementos "menuPrincipal ul li" cuando se les aplica el estado "hover" (se pasa el mouse sobre ellos) */
.menuUsuario ul li a:hover {
    color: rgb(246, 80, 191);
    /* Cambia el color del texto al pasar el mouse */
}

/* Establece estilos para los iconos (elementos <i>) dentro de los enlaces en "menuPrincipal ul li" */
.menuUsuario ul li a i {
    color: #af0089;
    /* Establece el color del icono */
    transition: color 0.4s;
    /* Agrega una transición suave del color durante 0.4 segundos */
}

/********************** Establece estilos para el elemento MAIN******************* */
main {
    display: flex;
    /* Activa el modelo de caja flexible para el elemento "main" */
    flex-direction: row;
    /* Establece una dirección de fila para los elementos hijos */
    flex-grow: 1;
    /* Permite que "main" crezca y ocupe el espacio disponible */
    border-top: 2px solid rgb(175, 21, 116);
    /* Agrega un borde superior de 2 píxeles */
    border-bottom: 2px solid rgb(175, 21, 116);
    /* Agrega un borde inferior de 2 píxeles */
}

/* Establece estilos para el elemento "aside" */
aside {
    background: linear-gradient(to bottom, #333333, #CCCCCC);
    /* Fondo de gradiente de gris oscuro a gris claro */
    flex-grow: 2;
    /* Permite que "aside" crezca y ocupe el espacio disponible */
    min-width: 12%;
    /* Establece un ancho mínimo del 12% */
    max-width: 12%;
    /* Establece un ancho máximo del 12% */
    box-shadow: 10px 0 15px 0 rgba(0, 0, 0, 0.7);
    /* Agrega una sombra en el lado derecho */
}

/* Establece estilos para el elemento con clase "contenedorCentral" */
.contenedorCentral {
    margin: 20px;
    display: inline;
    /* Muestra el contenido en línea */
    flex-direction: row;
    /* Establece una dirección de fila para los elementos hijos */
    flex-grow: 1;
    /* Permite que crezca y ocupe el espacio disponible */
    overflow: hidden;
    /* Oculta el desbordamiento del contenido si ocurre o utilizamos un slider o similares */
}

/* Establece estilos para el elemento con clase "seccion1" */
.seccion1 {
    justify-content: left;
    /* Alinea el contenido a la izquierda */
    margin-top: 25px;
    /* Agrega un margen superior de 25 píxeles */
    margin-left: 20px;
    /* Agrega un margen izquierdo de 20 píxeles */
    margin-right: 20px;
    /* Agrega un margen derecho de 20 píxeles */
    margin-bottom: 30px;
    /* Agrega un margen inferior de 30 píxeles */
    padding: 50px;
    /* Agrega un relleno de 50 píxeles */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    /* Agrega una sombra */
    text-transform: uppercase;
    /* Convierte el texto en mayúsculas */
    font-weight: 300;
    /* Establece el peso de fuente a 300 (letras finas) */
    background-color: rgb(255, 255, 255);
    /* Establece el color de fondo en blanco */
}



/* Establece estilos para la sección (elemento <section>) */
section {
    padding-left: 5%;
    /* Agrega un relleno a la izquierda del contenido de la sección */
    display: flex;
    /* Activa el modelo de caja flexible para el elemento "section" */
    flex-wrap: wrap;
    /* Permite que los elementos hijos se envuelvan cuando no quepan en una línea */
    flex-grow: 1;
    /* Permite que "section" crezca y ocupe el espacio disponible */
    gap: 10px;
    /* Agrega un espacio entre los elementos de 10 píxeles */
    justify-content: left;
    /* Alinea el contenido a la izquierda */
}


/******** Establece estilos para el elemento "FOOTER" *****************/
footer {
    background: linear-gradient(to left, #000, #777);
    /* Fondo de gradiente de izquierda a derecha */
    color: #fff;
    /* Establece el color del texto en blanco */
    padding: 20px;
    /* Agrega un relleno de 20 píxeles */
    display: flex;
    /* Activa el modelo de caja flexible para el elemento "footer" */
    flex-wrap: wrap;
    /* Permite que los elementos hijos se envuelvan cuando no quepan en una línea */
    justify-content: space-between;
    /* Alinea el contenido con espacio adicional entre los elementos */
    border-top: 4px solid rgb(175, 21, 116);
    /* Agrega un borde superior de 4 píxeles */
}

.footer-column a {
    text-decoration: none;
    /* Elimina la decoración del enlace */
    font-size: 14px;
    /* Establece el tamaño de fuente a 16 píxeles */
    flex-grow: 1;
    /* Permite que los elementos crezcan para ocupar el espacio disponible */
    padding: 16px;
    /* Agrega un relleno de 16 píxeles */
    color: white;
    /* Establece el color del texto en blanco */
    transition: color 0.4s;
    /* Agrega una transición suave del color durante 0.4 segundos */
    margin-left: 0;

}


.footer-column a:hover {
    color: rgb(246, 80, 191);
    /* Cambia el color del texto al pasar el mouse */
}


.footer-column {
    flex: 1;
    /* Permite que las columnas crezcan y ocupen espacio igualmente */
    text-align: left;
}

/* Establece estilos para el título (h4) dentro de las columnas del footer */
.footer-column h4 {
    font-size: 18px;
    /* Establece el tamaño de fuente en 18 píxeles */
}



/* Establece estilos para los iconos (elementos <i>) dentro de las columnas del footer */
.footer-column i {
    margin-right: 5px;
    /* Agrega un margen derecho de 5 píxeles */
}

.footer-column p {
    font-size: 14px;
    /* Agrega un margen derecho de 5 píxeles */
}

/* Establece estilos para las listas no ordenadas (ul) dentro de las columnas del footer */
.footer-column ul {
    /*muestra la lista sin viñetas*/
    list-style: none;
    /*nada de margen por la izquierda*/
    margin-left: 0px;
    /*nada de margen de relleno*/
    padding: 0px;
    /* Elimina los marcadores de lista predeterminados */
}



.footer-column a:hover {
    color: rgb(134, 4, 98);
    /* Cambia el color del texto al pasar el mouse */
}


.footer-column .social-icons a:hover {
    color: white;
    /* Cambia el color del texto al pasar el mouse */
}

/* Establece estilos para la lista de iconos de redes sociales */
.social-icons {
    list-style: none;
    /* Elimina los marcadores de lista predeterminados */
    padding: 2;
    /* Elimina el relleno predeterminado */
    display: flex;
    /* Activa el modelo de caja flexible para la lista de iconos */
}


/* Establece estilos para la clase "redes" dentro de elementos con clase "footer-column" */
.footer-column .redes {
    margin-left: 14%;
    /* Agrega un margen izquierdo del 14% */
}

/* Establece estilos para la clase "social-icons" dentro de elementos con clase "footer-column" */
.footer-column .social-icons {
    display: flex;
    /* Activa el modelo de caja flexible para "social-icons" */
    flex-grow: 1;
    /* Permite que "social-icons" crezca y ocupe el espacio disponible */
    margin: 0;
    /* Elimina los márgenes predeterminados */
    padding: 0;
    /* Elimina el relleno predeterminado */
    justify-content: left;
    /* Alinea el contenido a la izquierda */
}


/* Establece estilos para los elementos de lista (li) dentro de la lista de iconos de redes sociales */
.social-icons li {
    margin-right: 10px;
    /* Agrega un margen derecho de 10 píxeles entre los elementos de lista */
}

/* Establece estilos para los enlaces (a) dentro de la lista de iconos de redes sociales */
.social-icons a {
    text-decoration: none;
    /* Elimina la decoración del enlace */
    color: #fff;
    /* Establece el color del texto en blanco */
    font-size: 24px;
    /* Establece el tamaño de fuente en 24 píxeles */
    display: inline-block;
    /* Muestra los enlaces como bloques en línea */
    background: #b13aa4;
    /* Establece el color de fondo del enlace */
    width: 40px;
    /* Establece el ancho del enlace en 40 píxeles */
    height: 40px;
    /* Establece la altura del enlace en 40 píxeles */
    line-height: 40px;
    /* Establece la altura de línea en 40 píxeles */
    text-align: center;
    /* Alinea el texto al centro del enlace */
    border-radius: 50%;
    /* Agrega un borde redondeado */
    transition: background 0.4s;
    /* Agrega una transición suave del color de fondo durante 0.4 segundos */
}

/* Establece estilos para los elementos <i> dentro de elementos con clase "social-icons" */
.social-icons i {
    font-size: 30px;
    /* Establece el tamaño de fuente en 30 píxeles */
    margin-left: 6px;
    /* Agrega un margen izquierdo de 6 píxeles */
    margin-top: 6px;
    /* Agrega un margen superior de 6 píxeles */
}

/* Establece estilos para los elementos <i> dentro de elementos con clase "social-icons" cuando se aplica el estado "hover" (se pasa el mouse sobre ellos) */
.social-icons i:hover {
    font-size: 30px;
    /* Mantiene el tamaño de fuente en 30 píxeles al pasar el mouse */
    margin-left: 6px;
    /* Mantiene el margen izquierdo en 6 píxeles al pasar el mouse */
    margin-top: 6px;
    /* Mantiene el margen superior en 6 píxeles al pasar el mouse */
    color: white;
    /* Cambia el color del texto a blanco al pasar el mouse */
}


/* Establece estilos para los enlaces (a) dentro de la lista de iconos de redes sociales cuando se les aplica el estado "hover" (se pasa el mouse sobre ellos) */
.social-icons a:hover {
    background: #75007d;
    /* Cambia el color de fondo del enlace al pasar el mouse */
}


/* Establece estilos para el formulario dentro de las columnas del footer */
.footer-column form {
    margin-top: 40px;
    display: flex;
    /* Activa el modelo de caja flexible para el formulario */
}

/* Establece estilos para el campo de entrada de texto en el formulario */
.footer-column input[type="text"] {
    width: 70%;
    /* Establece el ancho del campo de entrada en un 70% del contenedor */
    padding: 5px;
    /* Agrega un relleno de 5 píxeles */
}

/* Establece estilos para el botón en el formulario */
.footer-column button {
    width: 40%;
    /* Establece el ancho del botón en un 100% del contenedor */
    background-color: #9b059d;
    /* Establece el color de fondo del botón */
    color: #fff;
    /* Establece el color del texto en blanco */
    border: none;
    /* Elimina el borde */
    padding: 10px;
    /* Agrega un relleno de 10 píxeles */
    cursor: pointer;
    /* Cambia el cursor al puntero al pasar el mouse */
    transition: background-color 0.4s;
    /* Agrega una transición suave del color de fondo durante 0.4 segundos */
}

/* Establece estilos para el botón en el formulario cuando se les aplica el estado "hover" (se pasa el mouse sobre él) */
.footer-column button:hover {
    background-color: #cf00d6;
    /* Cambia el color de fondo del botón al pasar el mouse */
}

/* Establece estilos para las citas en el footer */
.footer-colum.quotes {
    flex: 1;
    /* Permite que las citas crezcan y ocupen espacio igualmente */
    display: flex;
    /* Activa el modelo de caja flexible para elementos con clase "quotes" en el footer */
    flex-direction: row;
    /* Establece una dirección de fila para los elementos hijos de las citas */
    margin-top: 5px;
    /* Agrega un margen superior de 5 píxeles */
}

/* Establece estilos para las citas (blockquote) en el footer */
blockquote {
    flex-grow: 1;
    /* Permite que las citas crezcan y ocupen espacio igualmente */
    flex-wrap: wrap;
    /* Permite que los elementos hijos se envuelvan cuando no quepan en una línea */
    font-style: italic;
    /* Establece el estilo de fuente en cursiva */
    margin: 0px;
    /* Elimina el margen predeterminado */
    padding: 0px;
    /* Elimina el relleno predeterminado */
    /* Agrega un margen inferior de 10 píxeles */
}

/* Establece estilos para los párrafos (p) dentro de las citas en el footer */
.quotes blockquote p {
    margin-left: 12px;
    /* Agrega un margen izquierdo de 12 píxeles */
    font-size: 12px;
    /* Establece el tamaño de fuente en 12 píxeles */
    margin-top: 15px;
    /* Agrega un margen superior de 15 píxeles */
    /* Elimina el margen predeterminado de los párrafos */
}

.quotes blockquote p span {
    color: #75007d;
    /* Establece el color del texto en un tono específico (#75007d) */
    /* Elimina el margen predeterminado de los párrafos */
}

.footer-column .quotes blockquote p span.copyright {
    flex-grow: 1;
    /* Permite que los elementos de clase "copyright" crezcan y ocupen espacio igualmente */
    margin-left: 20px;
    /* Agrega un margen izquierdo de 20 píxeles */
    font-size: 18px;
    /* Establece el tamaño de fuente en 18 píxeles */
    color: #f3ddf5;
    /* Establece el color del texto en un tono específico (#f3ddf5) */
    /* Elimina el margen predeterminado de los párrafos */
}