footer {
    /*hacemos flex esta caja porque porque vamos a meter mas cosas dentro, al menos en principio*/
    display: flex;
    /*valor por defecto*/
    /*flex-direction: row;*/
    /*color del texto para la caja*/
    color: #fff;

    /*espacio del contenido al borde*/
    padding: 20px;

    /*hacemos que el contenido sea envuelto si se reduce el navegador*/
    flex-wrap: wrap;

    /*igualamos el espacio entre columnas*/
    justify-content: space-between;
    
    /*Establecemos el borde superior de la caja*/
    border-top: 4px solid rgb(21, 21, 21);

    /*hacemos que crezca según el contenido*/
    /*lo quitaremos según metamos el contenido*/
    min-height: 15vh;
    /*hacemos un degradado para el fondo de la caja*/
    background: linear-gradient(to left, #000, #777);
}

.footer-column {

    /* Permite que las columnas crezcan y ocupen espacio igualmente */
    text-align: left;
}

.footer-column a {
    text-decoration: none;
    /* Elimina la decoración del enlace */
    font-size: 14px;
    /* Establece el tamaño de fuente a 16 píxeles */
    flex-grow: 1;
    /* Permite que los elementos crezcan para ocupar el espacio disponible */
    padding: 6px;

    /* Agrega un relleno de 16 píxeles */
    color: white;
    /* Establece el color del texto en blanco */
    transition: color 0.4s;
    /* Agrega una transición suave del color durante 0.4 segundos */
    margin: 4px;
}

.footer-column a:hover {
    color: rgb(255, 0, 0);
    /* Cambia el color del texto al pasar el mouse */
}

.footer-column a:hover i {
    color: white
        /* Cambia el color del texto al pasar el mouse */
}

.footer-column h4 {
    font-size: 18px;
    /* Establece el tamaño de fuente en 18 píxeles */
}

      /* Establece estilos para los iconos (elementos <i>) dentro de las columnas del footer */
      .footer-column i {
        margin-right: 10px;
        /* Agrega un margen derecho de x píxeles */
        color: #979797
    }



    .footer-column p {
        font-size: 14px;
        /* Agrega un margen derecho de 5 píxeles */
    }

    .footer-column ul {
        /*muestra la lista sin viñetas*/
        list-style: none;
        /*nada de margen por la izquierda*/
        margin-left: 0px;
        /*nada de margen de relleno*/
        padding: 0px;
        /* Elimina los marcadores de lista predeterminados */
    }

    .social-icons {
        list-style: none;
        /* Elimina los marcadores de lista predeterminados */
        padding: 2;
        /* Elimina el relleno predeterminado */
        display: flex;
        /* Activa el modelo de caja flexible para la lista de iconos */
        /* Permite que "social-icons" crezca y ocupe el espacio disponible */
        margin: 0;
        /* Elimina los márgenes predeterminados */
        padding: 0;
        /* Elimina el relleno predeterminado */
        justify-content: left;
        /* Alinea el contenido a la izquierda */
        flex-grow: 1;
    }

    .footer-column .social-icons a:hover {
        color: white;
        /* Cambia el color del texto al pasar el mouse */
    }
    

    .social-icons a {
        text-decoration: none;
        /* Elimina la decoración del enlace */
        color: #ffffff;
        /* Establece el color del texto en blanco */
        font-size: 24px;
        /* Establece el tamaño de fuente en 24 píxeles */
        display: inline-block;
        /* Muestra los enlaces como bloques en línea */
        background: #864e4e;
        /* Establece el color de fondo del enlace */
        width: 40px;
        /* Establece el ancho del enlace en 40 píxeles */
        height: 40px;
        /* Establece la altura del enlace en 40 píxeles */
        /* Alinea el texto al centro del enlace */
        border-radius: 50%;
        /* Agrega un borde redondeado */
        transition: background 0.4s;
        /* Agrega una transición suave del color de fondo durante 0.4 segundos */
    }

    .social-icons i {
        font-size: 30px;
        /* Establece el tamaño de fuente en 30 píxeles */
        margin-left: 6px;
        /* Agrega un margen izquierdo de 6 píxeles */
        margin-top: 6px;
        /* Agrega un margen superior de 6 píxeles */
        /*aplicamos un estilo propio, sobre el general que hemos aplicado para el elemento i de las columnas*/
        color: white;
    }

    .social-icons i:hover {
        font-size: 30px;
        /* Mantiene el tamaño de fuente en 30 píxeles al pasar el mouse */
        color: white;
        /* Cambia el color del texto a blanco al pasar el mouse */
    }

     /* Establece estilos para los enlaces (a) dentro de la lista de iconos de redes sociales cuando se les aplica el estado "hover" (se pasa el mouse sobre ellos) */
     .social-icons a:hover {
        background: #2a0000;
        /* Cambia el color de fondo del enlace al pasar el mouse */
    }

      /* Establece estilos para el formulario dentro de las columnas del footer */
      .footer-column form {
        margin-top: 40px;
        display: flex;
        /* Activa el modelo de caja flexible para el formulario */
    }
      /* Establece estilos para el campo de entrada de texto en el formulario */
      .footer-column input[type="text"] {
        width: 50%;
        /* Establece el ancho del campo de entrada en un 70% del contenedor */
        padding: 5px;
        /* Agrega un relleno de 5 píxeles */
    }

    /* Establece estilos para el botón en el formulario */
    .footer-column button {
        width: 20%;
        /* Establece el ancho del botón en un 100% del contenedor */
        background-color: #686868;
        /* Establece el color de fondo del botón */
        color: #fff;
        /* Establece el color del texto en blanco */
        border: none;
        /* Elimina el borde */
        padding: 10px;
        /* Agrega un relleno de 10 píxeles */
        cursor: pointer;
        /* Cambia el cursor al puntero al pasar el mouse */
        transition: background-color 1s;
        /* Agrega una transición suave del color de fondo durante 0.4 segundos */
    }

      /* Establece estilos para el botón en el formulario cuando se les aplica el estado "hover" (se pasa el mouse sobre él) */
      .footer-column button:hover {
        background-color: #000000;
        /* Cambia el color de fondo del botón al pasar el mouse */
    }
    .quotes blockquote p {
        margin-left: 12px;
        /* Agrega un margen izquierdo de 12 píxeles */
        font-size: 12px;
        /* Establece el tamaño de fuente en 12 píxeles */
        margin-top: 15px;
        /* Agrega un margen superior de 15 píxeles */
        /* Elimina el margen predeterminado de los párrafos */
    }

    .quotes blockquote p span {
        color: #737373;
        /* Establece el color del texto en un tono específico (#75007d) */
        /* Elimina el margen predeterminado de los párrafos */
    }

    .footer-column .quotes blockquote p span.copyright {
        /* Permite que los elementos de clase "copyright" crezcan y ocupen espacio igualmente */
        margin-left: 25px;
        /* Agrega un margen izquierdo de 20 píxeles */
        font-size: 18px;
        /* Establece el tamaño de fuente en 18 píxeles */
        color: #f3ddf5;
        /* Establece el color del texto en un tono específico (#f3ddf5) */
        /* Elimina el margen predeterminado de los párrafos */
    }