.buscar{
    top: 4px;
    right: 1px;
}

.img-logo{
    width: 40px;
    height: 40px;
  }
  .img-noche{
    width: 30px;
    height: 30px;
  }

  .logofooter{
    width: auto;
    height: 18px;
  }
  main{
    height: 90vh;
   
  }

